@font-face {
  font-family: "Pistilli Pro";
  src: url("/public/PistilliPro-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Hiragino Kaku Gothic StdN";
  src: url("/public/ヒラギノ角ゴ StdN W4.otf");
  font-weight: 400;
}
@font-face {
  font-family: "ReimPr6N Bold";
  src: url("/public/public/AP-OTF-ReimPr6N-Bold.otf");
  font-weight: 400;
}@font-face {
  font-family: "ReimPr6N ExBold";
  src: url("/public/AP-OTF-public/AP-OTF-ReimPr6N-ExBold.otf");
  font-weight: 400;
}
@font-face {
  font-family: "ReimPr6N ExHeavy";
  src: url("/public/AP-OTF-public/AP-OTF-ReimPr6N-ExHeavy.otf");
  font-weight: 400;
}
@font-face {
  font-family: "ReimPr6N Heavy";
  src: url("/public/AP-OTF-public/AP-OTF-ReimPr6N-Heavy.otf");
  font-weight: 400;
}
@font-face {
  font-family: "ReimPr6N Light";
  src: url("/public/AP-OTF-public/AP-OTF-ReimPr6N-Light.otf");
  font-weight: 400;
}





@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
